/* style.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #80dfff, #ffffff);
    margin: 0;
    padding: 0;
    display: flex; /* Use flex layout */
    justify-content: space-between; /* Arrange items horizontally */
    align-items: center; /* Center items vertically */
}

.left-content {
    flex: 1; /* Take up available space on the left */
    padding: 20px;
}

.right-content {
    flex: 2; /* Take up available space on the right */
    text-align: center; /* Center text in the right div */
}

h1 {
    color: #3498db;
}

form {
    background-color: #4444;
    border: 1px solid #ddd;
    border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
    width: 90%; /* Expand to fill its container */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 15px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2184c2;
}

div img {
    max-width: 100%;
    height: auto;
}

a {
    background-color: #FF7276;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
	font-size: 12px ;
}

a:hover {
    background-color: #DD0004;
}